.navbarContainer {
  position: absolute;
  width: 100%;
  z-index: 100 !important;
  color: white;
}

.navbar {
  margin-top: 0 !important;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  height: 72px;
  color: white;
}

.announcement {
  width: 100%;
  padding: 0.1rem;
  text-align: center;
  background-color: #003297;
}

.logo {
  width: 160px;
}

.navLeftSection {
  gap: 1rem;
}

.addressPill {
  padding: 0.5rem 1rem;
  background: linear-gradient(90deg, #0055ff 0%, #003297 100%) !important;
  border: 1px solid #3c7dff;
  border-radius: 10px;
  width: 147px;
  font-weight: 500;
  transition: border 0.2s ease-in-out;
}

.addressPill:hover {
  border: 1px solid #d1e1ff;
}

.connectButton {
  background: linear-gradient(90deg, #0055ff 0%, #003297 100%) !important;
  border: 1px solid #3c7dff;
  border-radius: 10px;
}

.connectButton:hover {
  border: 1px solid #d1e1ff;
}
